<!--/*
* Thymeleaf Variables:
* Variable Key      Required?   Object Type         Description
* ----------------------------------------------------------------------------------------------------
* NONE
*/-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
        <div class="header-container center">
            <img th:src="@{/favicon.ico}" alt="DefenseDrill Icon">
            <h1>DefenseDrill Web Portal</h1>
            <img th:src="@{/favicon.ico}" alt="DefenseDrill Icon">
        </div>
    </header>
</html>